
.signup-container {
    min-height: calc(100vh - 60px);
    background: linear-gradient(to bottom right, #1e0e3e, #2e1269);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1px; 
    font-family: 'Lora', serif;
  }  

  .signup-card {
    width: 370px;
    background: linear-gradient(to bottom, #b9b7bdd9, #6d6275, #302b63);
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    padding: 40px 30px;
    text-align: center;
    color: white;
    position: relative;
  }
  

  .signup-card h2 {
    margin-bottom: 30px;
    margin-top: -10px; 
    font-size: 2rem;
    font-weight: 600;
    color: #1e0e3e;
  }
  
  
  .signup-card form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .signup-card input {
    padding: 12px 14px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    background: #eee;
    color: #333;
    transition: 0.3s ease;
  }
  
  .signup-card input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #8e44ad;
  }
  

  .signup-card button {
    margin-top: 10px;
    background-color: #7e57c2;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  .signup-card button:hover {
    background-color: #673ab7;
  }
  
  .login-text {
    color: #e8e2f3;
    font-weight: bold;
    font-size: 1rem;
    padding: 3px;
    border-radius: 0 0 60px 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .signup-card select {
    padding: 12px 14px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    background: #eee;
    color: #333;
    transition: 0.3s ease;
  }
  
  .signup-card select:focus {
    outline: none;
    box-shadow: 0 0 0 2px #8e44ad;
  }
  
  .terms-label {
    font-size: 0.9rem;
    color: #ddd;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
  }
  
  .terms-label a {
    color: #ffffff;
    text-decoration: underline;
  }
  
  /* Match DatePicker input with others */
.custom-datepicker {
    width: 93%;
    padding: 12px 14px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    background: #eee;
    color: #333;
    transition: 0.3s ease;
  }
  
  /* Focus style */
  .custom-datepicker:focus {
    outline: none;
    box-shadow: 0 0 0 2px #8e44ad;
  }
  
  /* Change calendar icon color to black */
  .react-datepicker__calendar-icon {
    filter: brightness(0); /* turns it black */
  }
  
  /* Optional: align icon nicely */
  .react-datepicker-wrapper {
    width: 100%;
  }
  